{% extends 'archive/base.html' %}
{% load twoDigits %}
{% block main %}
<ul class="breadcrumb">
    <li>
        <a href="#">Home</a><span class="divider">/</span>
    </li>
    <li>
        <a href="{% url series_browse %}">Series</a><span class="divider">/</span>
    </li>
    <li>
        <a href="{% url series_detail season.series.slug %}">{{ season.series.title }}</a><span class="divider">/</span>
    </li>
    <li>
        Season {{ season.number }}
    </li>
</ul>

{% for episode in season.episode_set.all %}
    <a href="{% url episode_detail series_slug=season.series.slug season_num=season.number episode_slug=episode.slug %}">{{ episode.number|twoDigits }} - {{ episode.title }}<br /></a>
 {% endfor %}
{% endblock %}